#content {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  color: #410219;
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6{
    color:#F1BE7D;
}

.nav-wrapper {
    background-color: white!important;

}
.nav-wrapper a{
    color:#410219 !important;
}

.header { 
  background: linear-gradient(rgba(0,0,0,0.25), rgba(37, 0, 51, 0.24)), url(images/frontPage2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width:100%;
  height: 95vh;
  display: block;
  align-items: center;
  justify-content: center;
}

.header_container{
    position: relative;
    bottom: -10%;
    margin-left: 100%;
    overflow: hidden;
    animation: movein 1.5s ease-out forwards;
}

@keyframes movein {
    from { margin-left: 100%;}
    to {  margin-left: 0%;}
}

.arrow {
    position: relative;
    margin-top: 50vh;
}

.contactMe { 
  background-color: #410219;
  color: #F0DEBA;
  margin-top: 70px;
  padding: 30px;
}

.projects { 
  padding: 30px;
  margin-top: 70px;
  align-items: center;
}


.summary {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 70px;
    margin-bottom: 50px;
}

@media only screen and (min-width: 1024px) {
    .summary {
        margin-left: 250px;
        margin-right: 250px; 
        margin-top: 100px;
        margin-bottom: 100px;
    }
}

.project-item {
    padding: 20px;
    margin: 15px;
    background: url(images/projectbg.jpg) center no-repeat;
    background-size: 350px;
    height: 350px;
    border: 1px;
    border-style: hidden hidden solid hidden;
}

.filter-btn.active{
    background: black !important;
}

#map {
    height: 60vh;
}

#search-input {
    background: white;
    margin-top: 5px;
    width: 80vw;   
}

.input-comments {
    margin-left:10vw;
    margin-right:10vw;
    margin-top: 30px;
    align-items: center;
}

.locations{
    margin-bottom: 70px;
    margin-top: 70px;
}

/*css for social media icons*/
.fa {
  padding: 10px;
  border-radius: 50%;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-linkedin {
  background: #007bb5;
  font-size: 25px !important;
  color: white;
}
.fa-github {
  font-size: 50px !important;
  color: white;
}
.fa-envelope {
    font-size: 40px !important;
    color: rgb(178, 49, 33);
}
.fa-angle-double-down {
    font-size: 40px !important;
    color: #F1BE7D;
}
